/* HERO */
.projects-hero {
  background: linear-gradient(#2a2f8066, #2a2f8066),
              url("../img/img-proyectos/default.jpg") center/cover no-repeat;
  color: var(--c-text-clear);
  text-align: center;
  padding: 100px 0 100px;
  margin-top: 30px;
}

/* Residenciales */
.hero-residenciales {
  background-image:
    linear-gradient(#2a2f8066, #2a2f8066),
    url("../img/img-proyectos/res1-1.jpg");
}

/* Comerciales */
.hero-comerciales {
  background-image:
    linear-gradient(#2a2f8066, #2a2f8066),
    url("../img/img-proyectos/com2-3.jpg");
}

/* Industriales */
.hero-industriales {
  background-image:
    linear-gradient(#2a2f8066, #2a2f8066),
    url("../img/img-proyectos/ind1-1.jpg");
}

/* Mobiliario */
.hero-mobiliario {
  background-image:
    linear-gradient(#2a2f8066, #2a2f8066),
    url("../img/img-proyectos/mob2-3.jpg");
}

.projects-hero__eyebrow {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.12em;
  color: var(--c-text-clear);
  margin-bottom: 8px;
  text-shadow: 0 0 10px #2a2f80d9;
}

.projects-hero__title {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 14px;
  color: var(--c-text-clear);
  text-shadow: 0 0 10px #2a2f80d9;
}

.projects-hero__text {
  max-width: 720px;
  font-weight: 500;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  color: var(--c-text-clear);
  text-shadow: 0 0 10px #2a2f80d9;
}

/* INTRO */
.projects-intro-block {
  background: #f3f6ff;
  padding: 50px 0;
}

.projects-intro-text {
  max-width: 760px;
  margin: 0 auto;
  font-size: 18px;
  color: var(--c-text);
  text-align: center;
}

/* GRID */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 30px;
  padding: 60px 0;
}

/* CARD */
.project-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.06);
  padding-bottom: 20px;
}

/* Slider interno */
.project-card__slider {
  position: relative;
  overflow: hidden;
  border-radius: 12px 12px 0 0;
  padding-bottom: 10px;
}

.project-card__track {
  display: flex;
  transition: transform .35s ease;
}

.project-card__track img {
  width: 100%;
  flex: 0 0 100%;
  object-fit: cover;
}

img, svg {
    display: block;
    max-width: 100%;
    height: 231px;
}

/* Botones slider */
.pc-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border: none;
  width: 25px;
  height: 28px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  backdrop-filter: blur(3px);
  cursor: pointer;
  color: var(--c-primary);
  font-size: 25px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background .2s ease;
}

.pc-prev { left: 10px; }
.pc-next { right: 10px; }

/* Títulos y textos */
.project-card__title {
  font-size: 20px;
  color: var(--c-primary);
  margin: 20px;
}

.project-card__desc {
  font-size: 15px;
  color: var(--c-text);
  margin: 0 20px 20px;
}

/* CTA FINAL */
.projects-final-cta {
  background: #f3f6ff;
  padding: 60px 0;
  text-align: center;
}

.projects-final-cta h2 {
  color: var(--c-primary);
  margin-bottom: 10px;
}

.projects-final-cta p {
  max-width: 620px;
  margin: 0 auto 20px;
  font-size: 17px;
  color: var(--c-text);
}

/* Contenedor de los dots */
.project-card__dots {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0 5px;
}

/* Puntito base */
.project-card__dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #fff;   /* gris azulado suave */
  box-shadow:  0 0 10px #2a2f80d9;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: background .2s ease, transform .2s ease;
}

/* Dot activo */
.project-card__dot.is-active {
  background: var(--c-primary);      /* #2a2f80 */
  transform: scale(1.2);
}
